@charset "utf-8";
@import "reset.css";

/* 바디태그 마진 */
html, body {
	margin-left: 10%;
    margin-right: 10%;
    -ms-overflow-style: none;
}

/* 폰트 및 로고작업 */
@font-face {
	font-family: 'RixInooAriDuriR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 헤더영역 */
.search {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

input {
	width: 1px;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
}

input[type=submit]{
	width:50px;
	
}



header>div#logo>a {
	margin-top: 10px;
	display: block;
	color: #FD6F22;
	font-family: 'RixInooAriDuriR';
	font-size: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

header>div#logo>span {
	font-family: 'RixInooAriDuriR';
	display: block;
	color: #0E5049;
	text-align: center;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
}

header {
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	max-height: 74px;
	border-bottom: 1px solid rgb(234, 234, 234);
}




a{ 
	text-decoration: none;
	} 
	
	

#logme.menus>ul{
	font-family: 'NanumSquareNeo-Variable';
	width: 100%;
	text-align:right;
	margin-top:-60px;
	margin-left: auto;
	margin-right: auto;
}

#logme.menus>li{
	display: inline-block;
	height:12px;
	line-height: 12px;
}
#logme.menus>li:last-child{
	border-left: 1px solid #333;
	padding-left: 10px;
	margin-left: 4px;
}
#logme.menus>a{
	color: #333;
	font-size: 12px;
	position: relative;
	top: 2px;
}

.Header_Init_Section {
	text-align: center;
}

#header_img {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	min-height: 320px;
	max-height: 400px;
	background-image: url(../../images/jjmain2.jpg);
}

/* nav영역 */
#cate {
	font-family: 'NanumSquareNeo-Variable';
	display: block;
	height: 20px;
	width: 100px;
	min-width: 100%;
	text-align: center; 
	margin-left : auto;
	margin-right: auto;
	background-color: #0E5049;
	white-space : nowrap;
	overflow: hidden; 
	

	
}

div.cate>a {
	margin: 0 5px 0 5px;
	color: #f8f9fa;
	
	
}

/* 지도영역 */
.map {
	min-width: 320px;
	max-width: 640px;
	min-height: 320px;
	max-height: 640px;
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
}

/* 푸터영역 */
#footer {
	padding-bottom: 10em;
	background-color: #f8f9fa;
	text-align: center;
	color: #ced4da;
	margin-left: auto;
	margin-right: auto;
}