input[type=text]{ 
    border: 1px solid orange; 
}

button{
     color:whitesmoke; border: 1px solid orange;
border-radius: 5px; 
background-color: orangered;
}

input[type=submit]{ 
    color:whitesmoke; border: 1px solid orange;
    border-radius: 5px; 
    background-color: orangered;
}

/* 폰트 및 로고작업 */

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}



/* 바디영역 */

body{
    margin-left: 10%;
    margin-right: 10%;
}

/* 헤더영역 */


header{
    
    width:100%;
    height: 100px;
    cursor: pointer;
    background-color: #FD6F22;

    
}

#jup{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

/* join 헤더 */
div#logo{
    font-family : 'RixInooAriDuriR';
    color: #FD6F22;
}


/* 나브영역 */
nav{
    
    width: 100%;
    height: 90px;
    background-color: aqua;
}

h1{
    text-align: center;

}

#sdtail{
    color: black;
    text-align: center;
}






/* 메인영역 */
div#review{
    text-align: center;
    cursor: pointer;
}
a:hover#review{
    background-color: orange;
    color: white;
}

#main{
    width: 100%;
    height: 250px;
    background-color: #dee2e6;
}

#main2{
    width: 100%;
    height: 700px;
    background-color: #dee2e6;
}

/* 메인/join */

.form{
    text-align: center;
}

/* 푸터영역 */
#footer{
    padding-bottom: 10em;
    background-color: #f8f9fa;
    text-align: center;
    color: #ced4da;
    margin-left: auto;
    margin-right: auto;
    
}
#fix {
    position: fixed;
    background-color: orange;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    cursor: pointer;
    
  }

#myr{
    text-align: center;
    color: white;
    padding: 40px;
}