<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="MemberMapper">

   <select id="login" parameterType="MemberVO" resultType="MemberVO">
      select * from members where user_Id=#{user_Id} and user_Pw=#{user_Pw}
   </select>
   
    <insert id="join" parameterType="MemberVO" >
      insert into members values (#{user_Id},#{user_Pw},#{user_Nick},#{user_Code})
    </insert>
    <update id="usercodeUpdate" >
    update members set user_code = '1' where user_Id=#{user_Id}
    </update>
    
    <select id="reLogin" resultType="MemberVO">
      select * from members where user_Id=#{user_Id}
    </select>
    
  
</mapper>