<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.db1.MenuMapper">


	<select id="menuSelect"  resultType="com.smhrd.model1.MenuVO">
	select * from menus where  store_id=#{store_Id}  
	</select>
	
	<select id="menu_Select_user_id"  resultType="com.smhrd.model1.MenuVO">
	select * from menus where  user_id=#{user_Id} order by menu_Id
	</select>
	
	<insert id="MenuInsert" parameterType="com.smhrd.model1.MenuVO" >
		insert into menus(menu_Id,store_id,menu_name,menu_price,User_id,menu_details) values (menus_SEQ.NEXTVAL,#{store_id},#{menu_name},#{menu_price},#{User_id},#{menu_details})
	</insert>
	
	<delete id="MenuDeleteAll" >
		delete menus where user_id=#{user_Id}
	</delete>

</mapper>