<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db1.ReservationMapper">
<insert id="reserveInsert" parameterType="com.smhrd.model1.ReservationVO">
	insert into reservations values (rNumber.seq.nextVal,#{storeId},#{userId},#{storeMenu},#{storePrice},sysdate,#{pTime})
</insert>
</mapper>