<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.db1.ReserveDetailsMapper">

	<insert id="reserve_menu_insert"  parameterType="com.smhrd.model1.ReserveDetailsVO">
	insert into RESERV_DETAILS values (RESERV_DETAILS_SEQ.nextval,#{menu_Id},#{r_Number},#{menu_Cnt},#{menu_Price})
    </insert>
    
    
    <select id="reserve_detail_select" resultType="com.smhrd.model1.ReserveDetailsVO">
    select * from RESERV_DETAILS where r_Number=#{r_Number}
    </select>
</mapper>