<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db1.ReviewMapper">
	<select id="myReview" resultType="com.smhrd.model1.ReviewVO">
		select * reviews where user_id= #{user_id}
	</select>
	<insert id="writereview"  parameterType="com.smhrd.model1.ReviewVO">
	insert into reviews values (reviews_seq.nextval,#{store_id},#{reviewContent},#{reviewScore},#{reviewPic},#{user_Id},sysdate,#{review_title})
</insert>
</mapper>