<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">

	<select id="StoreSelect" parameterType="String" resultType="com.smhrd.model1.StoreVO">
		select * from stores where store_cate =#{store_cate}
	</select>
	
	<select id="search" resultType="com.smhrd.model1.StoreVO">
	SELECT * FROM stores WHERE store_name LIKE '%'||#{keyword}||'%' or store_addr LIKE '%'||#{keyword}||'%' or store_cate LIKE '%'||#{keyword}||'%'
	</select>
	
	<insert id="storejoin" parameterType="com.smhrd.model1.StoreVO">
	insert into stores values (stores_seq.nextVAL,#{store_Name},#{store_Addr},#{store_Tel},#{store_Open_Dt},#{store_Close_Dt},#{store_Card_Yn},#{store_Status},#{user_Id},#{store_Cate},#{Latitude},#{Longitude})
	</insert> 
	
	<select id="mystoreselect"  resultType="com.smhrd.model1.StoreVO">
	select * from stores where  user_id=#{user_Id}
	</select>
	
	<delete id="storeDelete">
	delete from Stores where  user_id=#{user_Id}
	</delete>

</mapper>