<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MsgMemberMapper">

	<insert id="join" parameterType="MsgMemberVO">
		insert into MsgMember values(#{email},#{pw},#{phone},#{addr})
	</insert>
	<select id="login" parameterType="MsgMemberVO" resultType="MsgMemberVO">
		select * from msgmember where email = #{email} and pw = #{pw}
	</select>
	<update id ="update" parameterType="MsgMemberVO">
		update msgmember set pw=#{pw}, phone=#{phone}, addr=#{addr} where email =#{email}
	</update>
	<select id="memberList" resultType="MsgMemberVO">
		select * from msgmember where email not in('admin')
	</select>
	<delete id ="memberRemove" parameterType="String">
		delete from msgmember where email =#{email}
	</delete>
	<select id="idCheck" parameterType="String" resultType="MsgMemberVO">
		select * from msgmember where email =#{email}
	</select>
</mapper>