<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>MapJJ</display-name>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WebSocket</servlet-name>
  	<display-name>WebSocket</display-name>
  	<description></description>
  	<servlet-class>WebSocket.WebSocket</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<display-name>Search</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.Search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StoreSelectService</servlet-name>
  	<display-name>StoreSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.StoreSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StoreJoin</servlet-name>
  	<display-name>StoreJoin</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.StoreJoin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StoreUpdate</servlet-name>
  	<display-name>StoreUpdate</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.StoreUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StoreDelete</servlet-name>
  	<display-name>StoreDelete</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.StoreDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuSelect</servlet-name>
  	<display-name>MenuSelect</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.MenuSelect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Geocode</servlet-name>
  	<display-name>Geocode</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.Geocode</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateXml</servlet-name>
  	<display-name>CreateXml</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.CreateXml</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>reserveInsert</servlet-name>
  	<display-name>reserveInsert</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.reserveInsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuInsert</servlet-name>
  	<display-name>MenuInsert</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.MenuInsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Menucheck</servlet-name>
  	<display-name>Menucheck</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.Menucheck</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<display-name>UploadServlet</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller1.UploadServlet</servlet-class>
  </servlet>
  <servlet>
 	<servlet-name>storedetail</servlet-name>
 	<display-name>storedetail</display-name>
 	<description></description>
 	<servlet-class>com.smhrd.controller1.storedetail</servlet-class>
  </servlet>
 <servlet>
 	<servlet-name>ReportService</servlet-name>
 	<display-name>ReportService</display-name>
 	<description></description>
 	<servlet-class>com.smhrd.controller1.ReportService</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ReviewService</servlet-name>
 	<display-name>ReviewService</display-name>
 	<description></description>
 	<servlet-class>com.smhrd.controller1.ReviewService</servlet-class>
 </servlet><servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WebSocket</servlet-name>
  	<url-pattern>/WebSocket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StoreSelectService</servlet-name>
  	<url-pattern>/StoreSelectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StoreJoin</servlet-name>
  	<url-pattern>/StoreJoin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StoreUpdate</servlet-name>
  	<url-pattern>/StoreUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StoreDelete</servlet-name>
  	<url-pattern>/StoreDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuSelect</servlet-name>
  	<url-pattern>/MenuSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Geocode</servlet-name>
  	<url-pattern>/Geocode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateXml</servlet-name>
  	<url-pattern>/CreateXml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reserveInsert</servlet-name>
  	<url-pattern>/reserveInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuInsert</servlet-name>
  	<url-pattern>/MenuInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Menucheck</servlet-name>
  	<url-pattern>/Menucheck</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>storedetail</servlet-name>
  	<url-pattern>/storedetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportService</servlet-name>
  	<url-pattern>/ReportService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewService</servlet-name>
  	<url-pattern>/ReviewService</url-pattern>
  </servlet-mapping>



 
</web-app>
